body {
    font-family: 'Arial', sans-serif;
}
.navbar-brand {
    margin-left: 10px;
}

.nav-link {
    color: white; /* اللون الافتراضي للنص */
    transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
    background-color: #1abc9c; /* لون الخلفية عند التفعيل */
    color: #1abc9c; /* لون النص عند التفعيل */
    border-radius: 5px; /* يجعل الزوايا مستديرة */
    padding: 10px; /* مساحة داخلية حول النص */
}

.navbar-nav .nav-link {
    font-size: 1.2rem;
}

.navbar-nav .nav-link:hover {
    color: #1abc9c !important;
    border-radius: 5px;
}

.navbar-nav .active {
    color: white !important; /* لون النص عندما يكون الرابط نشطًا */
    border-radius: 5px;
    border: 2px solid #1abc9c;
    background-color: #1abc9c; /* لون الخلفية عندما يكون الرابط نشطًا */
}


.navbar {
    padding: 20px 0;
    transition: all 0.3s ease;
}

.navbar.shrink {
    padding: 10px 0;
}

header {
    padding-top: 60px;
}

header img {
    margin-top: 20px;
}

header .display-4 {
    font-size: 3.5rem;
}

.section-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
}

.line {
    width: 100px;
    height: 2px;
    background-color: currentColor; /* اللون يمكن تغييره حسب اللون المطلوب */
}

.star {
    font-size: 24px;
    color: inherit; /* اللون يمكن تغييره حسب اللون المطلوب */
    margin: 0 10px;
}

section h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

section:nth-of-type(even) {
    background-color: #ffffff;
    color: #2c3e50;
}

section:nth-of-type(odd) {
    background-color: #1abc9c;
    color: white;
}

.social-links .btn {
    font-size: 1.2rem;
}

#contact .social-links .btn:hover {
    color: #ffffff !important;
    background-color: #1abc9c !important;
}

footer {
    background-color: #1a252f;
    color: white;
}

.card {
    cursor: pointer;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

form {
    max-width: 600px;
    margin: auto;
}

.form-group label {
    float: right;
    white-space: nowrap;
    font-size: 18px;
    font-weight: bold;
}

.form-group textarea {
    width: 100%;
    max-width: 600px;
    height: 200px;
    resize: none;
    box-sizing: border-box;
}

.form-control.transparent-input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #bfbfbf;
    border-radius: 0;
    color: #2c3e50;
}

.btn-light {
    background-color: #ffffff;
    border: 1px solid #2c3e50;
    color: #2c3e50;
}

.btn-light:hover {
    background-color: #1abc9c;
    border-color: #1abc9c;
    color: white;
}

.language-toggle {
    position: fixed;
    top: 13px;
    left: 10px;
    background-color: #1abc9c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
    z-index: 1000;
}
.english #language-toggle {
    right: 10px;
    left: auto;
}
.arabic #language-toggle {
    float: right;
}
.english body {
    direction: ltr;
}
.arabic body {
    direction: rtl;
}
/* Common styles for both Arabic and English */
body {
    font-family: 'Arial', sans-serif;
}

.nav-link {
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

/* Adjustments for English version */
.english body {
    direction: ltr;
}

.english .navbar-nav .nav-link:hover {
    color: #1abc9c !important;
}

.english #contact h2 {
    color: #2c3e50;
}

.english .form-group label {
    color: #2c3e50;
}

/* Additional styles for English version can be added here */

/* Social media section */
#social h2 {
    color: white;
}
/* تحريك عناصر القائمة إلى اليسار في صفحة اللغة الإنجليزية */
.english .navbar-nav {
    margin-right: auto;
}



/* تحريك عناوين الحقول إلى اليسار فقط في صفحة باللغة الإنجليزية */
html[lang="ar"] .form-group label {
    text-align: left;
    display: inline-block;
    width: 10px; /* يمكنك تعديل هذا الحجم حسب الحاجة */
    margin-right: 10px; /* هامش للتباعد بين العناوين والحقول */
}

/* تحريك عناوين الحقول إلى اليسار */
.form-group label {
    text-align: left;
    display: inline-block;
    width: 580px; /* يمكنك تعديل هذا الحجم حسب الحاجة */
    margin-right: 10px; /* هامش للتباعد بين العناوين والحقول */
}
.arabic-text {
    text-align: right; /* تحديد محاذاة النصوص العربية على اليمين */
}

.english-text {
    text-align: left; /* تحديد محاذاة النصوص الإنجليزية على اليسار */
}

/* -- */
.custom-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-container {
    max-width: 100%;
}


.arabic-container .text-container {
    flex-direction: row;
}

.arabic-container h3 {
    text-align: right;
}

.arabic-container span {
    text-align: left;
    color: #bfbfbf;
}

.english-container .text-container {
    flex-direction: row;
}

.english-container h3 {
    text-align: right;
    display: block;
    order: 1; /* اجعل العنوان يأتي قبل التاريخ */
}

.h4 {
    text-align: right;
}
.english h4 {
    text-align: left;
}

.english-container span {
    text-align: left;
    color: #bfbfbf;
    order: 2; /* اجعل التاريخ يأتي بعد العنوان */
}
.english-container p {
    text-align: left; /* الفقرة في النصوص الإنجليزية تبدأ من اليسار */
}



.skills-container {
    margin-bottom: 20px; /* إضافة بعض المساحة السفلية */
    min-height: 150px; /* ضبط ارتفاع ثابت لجميع الحاويات */
}

.skills-title {
    font-size: 2.5rem; /* تكبير حجم النص */
    margin-bottom: 10px; /* إضافة بعض المساحة السفلية */
    text-align: left; /* المحاذاة الافتراضية للنص */
}

.dev-icons {
    display: flex;
    flex-wrap: wrap; /* السماح بالتفاف العناصر إذا كانت كبيرة جداً */
    justify-content: flex-start; /* المحاذاة الافتراضية للأيقونات */
    margin-top: 10px; /* إضافة بعض المساحة العلوية */
}

.dev-icons .list-inline-item {
    font-size: 2.5rem; /* تكبير حجم الأيقونات */
    margin: 0 10px; /* إضافة بعض المساحة اليمنى واليسرى بين الأيقونات */
    color: #2c3e50; /* لون الأيقونات */
}

.dev-icons .list-inline-item:hover {
    color: #1abc9c; /* تغيير لون الأيقونات عند التمرير */
}

/* تنسيقات الصفحة الإنجليزية */
.skills-container.english .skills-title {
    text-align: left; /* محاذاة النص إلى اليسار */
}

.dev-icons.english {
    justify-content: flex-start; /* محاذاة الأيقونات إلى اليسار */
}

/* تنسيقات الصفحة العربية */
.skills-container.arabic .skills-title {
    font-family: 'Amiri', serif; /* استخدام خط مناسب للنص العربي */
    font-size: 3rem; /* تكبير حجم النص العربي */
    text-align: right; /* محاذاة النص إلى اليمين */
    margin-right: 50px; /* تحريك النص إلى اليسار قليلاً */
}

.dev-icons.arabic {
    justify-content: flex-start; /* محاذاة الأيقونات إلى اليمين */
    margin-top: -50px;
}

.skills-container.arabic .skills-title,
.skills-container.arabic .dev-icons {
    text-align: right; /* محاذاة النص والأيقونات إلى اليمين */
}

.about.arabic{
    font-size: 1.5rem;
}
.about.english{
    font-size: 1.5rem;
}

.btn-primary {
    background-color: #1abc9c;
    border-color: #1abc9c;
    margin-top: 15px;
    transform: scale(1.5);
}
